


@{
    ViewBag.Title = "ItemIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Item.js"></script>

<section class="h-100 h-custom" style="background-color: #99A3A4; ">
    

    <div class="card-body p-4 p-md-5">
        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Items Registration</h3>



        <form class="px-md-2">
            <input type="hidden" id="hdnId" />

            <div class="form-outline mb-4">
                <b>  <label class="form-label" for="form3Example1q">Item Name</label></b>
                <input type="text" placeholder="Enter Item Name" id="txtItem_Name" class="form-control" />
            </div>

            <div class="col-md-8 mb-4">
                <b> <label>Category</label></b>
                <select id="ddlCate" class="form-control">
                    @*//<select id="ddlCate" class="form-control" onchange="ddlOnChange()">*@

                    <option>Select</option>
                    <option>Electronics </option>
                    <option>Consumable</option>
                    <option>Furniture</option>
                    <option>Stationary</option>
                </select>
            </div>

            <div class="form-outline mb-4">
                <b> <label class="form-label" for="form3Example1q">Rate</label> </b>
                <input type="number" placeholder="Enter Rate " id="txtRate" class="form-control" />

            </div>

            <div class="form-outline mb-4">
                <b> <label class="form-label" for="form3Example1q">Balance Quantity</label></b>
                <input type="number" placeholder="Enter Quantity" id="txtBal_Qty" class="form-control" />
            </div>

            <button type="submit" class="btn btn-success btn-lg mb-1" onclick="SaveItem()">Submit</button>

        </form>
    </div>
</section>



<section>
    <div>
        <div class="card p-3">
            <h3 class="card-title"> Show Item List</h3>
            <div class="table-responsive">
                <table id="Item_master" border="0" class="table table-bordered table-hover table-striped">
                    <thead class="text-white bg-dark">
                        <tr>
                            @*<th class="d-none">Item Id</th>*@
                            <th>Item Id</th>
                            @*<th>Serial No</th>*@

                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Rate</th>
                            <th>Balance Quantity</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            </div>
        </div>
    </section>

                @*popup*@

                <div id="Item_master" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="container" id="Detail">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*dddddddddd ddddd

                    @*for Icon*@

                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


                @*    For Search table*@

                <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css" rel="stylesheet" />
                <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.css" rel="stylesheet" />
                <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
                <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
                <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>



                @*for Icon*@
                <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">-->
                <!-- DataTables JavaScript -->
                <!--<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>-->
                <!-- DataTables Buttons Dependencies -->
                <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>-->
                <!-- SweetAlert2 -->
                <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->

                <script>
                    var js = jQuery.noConflict(true);
                    js(document).ready(function () {
                        js('#Item_master').DataTable({
                            dom: 'Bfrtip',
                            buttons: [{
                                extend: 'pdf',
                                title: 'Stock Report',
                                filename: 'Stock Report'
                            }, {
                                extend: 'excel',
                                title: 'Customized EXCEL Title',
                                filename: 'Stock Report'
                            }, {
                                extend: 'csv',
                                filename: 'Stock Report'
                            },]
                        });

                    });
                </script>

